.container {
    display: flex;
    padding: 10rem 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-bottom: 0.5rem solid var(--secondary-background-color);
}

.image {
    width: 40vw;
    height: 50vh;
    border-radius: 60%;
    box-shadow: -0.5rem 0 1rem var(--accent-color);
}

.description {
    width: 40vw;
    height: 50vh;
    font-size: 24px;
}

.description h1 {
    font-size: 5rem;
}

.description p {
    margin-top: 3rem;
    padding: 1rem 1rem;
    line-height: 1.5;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--accent-color);
    background-color: var(--secondary-background-color);
}

.line {
    margin: 1rem 0;
    width: 30vw;
    height: 0.5vh; 
    background-color: var(--accent-color);
    border-radius: 0.5rem;
}