.container {
    display: flex;
    padding: 10rem 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-bottom: 0.5rem solid var(--secondary-background-color);
}

.image {
    width: 40vw;
    height: 50vh;
    box-shadow: 0 0 2rem var(--accent-color);
    border-radius: 0.5rem;
}

.description {
    width: 40vw;
    height: 50vh;
}

.description h1 {
    font-size: 5rem;
}

.description p {
    margin-top: 3rem;
    padding: 1rem 1rem;
    line-height: 1.5;
    box-shadow: 0 0 1rem var(--accent-color);
    background-color: var(--secondary-background-color);
    font-size: 22px;
    border-radius: 0.5rem;
}

.description hr {
    margin: 1rem 0;
    width: 30vw;
    height: 0.2vh;
    background-color: var(--accent-color);
    border-radius: 0.5rem;

}