.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the minmax values as needed */
    place-content: center;
    place-items: center;
    border-bottom: 0.5rem solid var(--secondary-background-color);
    gap: 4rem; /* Add gaps between grid items */
    padding: 4rem 0;
}
  
.projectCard {
    width: 80%; /* Take the full width of the grid cell */
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 0.6s ease-in-out;
}

.projectCard p {
    padding: 0.5rem 0;
    font-size: 1rem; /* Use rem for font sizes */
}

.projectCard:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.heading {
    text-align: center;
    font-size: 5rem;
    margin: 1rem 0;
}

.headingHr {
    margin: 1rem auto;
    width: 40%;
    height: 0.2vh; 
    background-color: var(--accent-color);
    border-radius: 0.5rem;
}

.icon {
    margin: 1rem 0;
    width: 4vw;
    height: 4vh;
}

.image {
    width: 100%; /* Take the full width of the parent */
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--accent-color);
}

.icon:hover {
    transition: 0.2s ease-in-out;
}

@media (max-width: 1440px) {
    .projectCard p {
        font-size: 0.875rem; /* Adjust the font size for smaller screens */
    }

    .heading {
        font-size: 3rem; /* Adjust the heading size for smaller screens */
    }
}