.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    border-bottom: 0.5rem solid var(--secondary-background-color);
}
  
.projectCard {
    width: 30vw;
    height: 50vh;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 0.6s ease-in-out;
}

.projectCard p {
    padding: 0.5rem 0;
    font-size: 16px;
}

.projectCard:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.heading {
    text-align: center; /* Add this line to center text */
    font-size: 5rem;
    margin: 1rem 0;
}

.headingHr {
    margin: 1rem auto;
    width: 40vw;
    height: 0.2vh; 
    background-color: var(--accent-color);
    border-radius: 0.5rem;
}

.icon {
    margin: 1rem 0;
    width: 4vw;
    height: 4vh;
}

.icon:hover {
    transition: 0.2s ease-in-out;
}

@media (max-width: 1440px) {
    .projectCard p {
        font-size: 14px;
    }
}