.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
}
  
.projectCard {
    width: 30vw;
    height: 50vh;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 1rem var(--accent-color);
    transition: 0.6s ease-in-out;
}

.heading {
    text-align: center; /* Add this line to center text */
    font-size: 5rem;
    margin: 1rem 0;
}
  
.line {
    width: 30vw;
    height: 0.5rem;
    background-color: var(--accent-color);
    margin: 1rem auto 5rem auto; /* Add this line to center the line */
}

.line_card {
    width: 10vw;
    height: 0.25rem;
    background-color: var(--accent-color);
}