.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection {
    margin-top: 5rem;
}

.selection ul {
    display: flex;
    list-style: none;
    gap: 10rem;
}

.selection li {
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 0.5rem solid var(--secondary-background-color);
    border-right: 0.5rem solid var(--secondary-background-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--accent-color);
}

.selection li:hover {
    cursor: pointer;
    transition: 0.6s ease-in-out;
    font-size: 1.7rem;
    border-bottom: 0.5rem solid var(--accent-color);
    border-right: 0.5rem solid var(--accent-color);
    background-color: var(--primary-button-color);
    color: var(--primary-background-color);
}

.columns {
    padding: 5rem 0;
}

.frontend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_two {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Set the grid to repeat in a 2-3 pattern */
    gap: 5rem; /* Adjust the gap as needed */
    justify-content: center;
}

.grid_three {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set the grid to repeat in a 2-3 pattern */
    gap: 10rem; /* Adjust the gap as needed */
    justify-content: center;
}

.image {
    margin: 1.5rem;
    padding: 2rem;
    width: 12vw;
    height: 24vh;
    border-radius: 100%;
    box-shadow: 0 0 2rem var(--accent-color);
}

.image:hover {
    cursor: pointer;
    color: var(--accent-color);
    transition: 0.3s ease-in-out;
    border: 0.5rem solid var(--accent-color);
    box-shadow: none;
}

.imageContainer {
    position: relative;
    text-align: center;
}
  
.imageContainer:hover .image {
opacity: 0.5;
}
  
.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageContainer:hover .imageText {
    opacity: 1;
}

