.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 5rem;
}

.container p {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.container button {
    width: 15vw;
    height: 5vh;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.grid_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid_two input {
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
    width: 19vw;
    height: 4vh;
    padding: 1rem;
    font-size: 14px;
    box-shadow: 0 0 1rem var(--accent-color);
}

.grid_two input:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--accent-color), 0 0 0.2rem var(--accent-color);
}

.message {
    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;
    margin: 3rem 0;
    width: 40vw;
    height: 20vh;
    padding: 1rem;
    font-size: 14px;
    box-shadow: 0 0 1rem var(--accent-color);
}

.message:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--accent-color), 0 0 0.2rem var(--accent-color);
}


.container hr {
    margin: 1rem auto;
    width: 40vw;
    height: 0.2vh; 
    background-color: var(--accent-color);
    border-radius: 0.5rem;
}